/* App.css */

/* Styles for the authenticated view */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2c3e50; /* Dark blue header */
  color: white;
}

.app-title {
  font-size: 2rem;
}

.nav-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: white;
  color: #2c3e50; /* Button text color matching the header color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}



/* Specific style for the "Log Workout" button */
.nav-buttons button.log-workout {
  background-color: #007bff; /* Primary blue color */
  color: white; /* White text for contrast */
}

.nav-buttons button.log-workout:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Styles for the login view */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-content {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-image {
  width: 300px;
  height: 400px;
  margin-right: 40px;
  border-radius: 8px;
}

.login-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #45a049;
}
